{% extends "base.html" %}

{% block page_content %}

<h1>Publish an ad</h1>

<form method="POST" action="/post-ad">{% csrf_token %}
    <div class="form-field">
        <label for="title-field">Title</label>
        <div class="form-field-subject">
            <input type="text" name="title" id="title-field" maxlength="100" title="The title for this ad" />
        </div>
    </div>
    <div class="form-field">
        <label for="message-field">Message</label>
        <div class="form-field-subject">
            <textarea name="message" id="message-field" title="The ad"></textarea>
        </div>
    </div>

    <div>
        <button class="btn btn-large btn-primary" type="submit" /><i class="icon-ok icon-white"></i> Publish</button>
        , or <a href="/">Cancel</a>
    </div>
</form>

{% endblock %}

