body {
    background: url('/static/img/bg_gradient.png') #ffffff repeat-x left top;
    background-attachment: fixed;
}

#body-content {
    width: 980px;
    margin-top: -12px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 5px;
}

#header {
    margin: 10px auto;
    padding: 5px;
    padding-left: 360px;
    height: 150px;
    background-image: url('/static/img/logo.png');
    background-repeat: no-repeat;
    background-color: lightblue;
    border-radius: 0px 0px 50px 50px;
    border-bottom: 1px solid black;
}

#header-menu {
    margin-top: 100px;
    padding: 10px 0px;
    border: 0px solid green;
    width: 650px;
}

#header-menu ul {
    border: 0px solid black;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#header-menu li {
    display: inline;
    border: 1px solid gray;
    border-right: none;
    margin: 0px;
    background-color: rgb(200, 230, 255);
    padding-top: 10px;
    padding-bottom: 10px;
}

#header-menu li.focused {
    background-color: white;
}

#header-menu li.first {
    border-radius: 5px 0px 0px 5px;
}

#header-menu li.last {
    border-right: 1px solid gray;
    border-radius: 0px 5px 5px 0px;
}

#header-menu a {
    font-weight: bold;
    padding: 10px 15px;
    color: rgb(60, 60, 60);
    text-decoration: none;
}

#header-menu a:hover {
    color: black;
}

#body-page-content {
    padding: 5px;
}

.two-cols-wrapper {
    float: left;
    width: 970px;
}

.column-left {
    float: left;
    width: 200px;
    margin: 0px;
    padding: 0px;
}

.column-right {
    float: right;
    width: 770px;
    margin: 0px;
    padding: 0px;
}

.footer {
    clear: both;
    text-align: center;
}

.form-field { 
    overflow: auto; /* this "clears" the floated elements */
    margin-bottom: 10px;
}

.form-field label {
    float: left;
    width: 100px;
}

.form-field .form-field-subject {
    float: left;
    width: 500px;
}

#title-field {
    width: 500px;
}

#message-field {
    width: 500px;
    height: 100px;
}

